<!-- As a heading -->
<% if (typeof name != 'undefined') { %>
    <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
                aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav mr-auto h4">
                <li class="nav-item active">
                    <a class="nav-link" href="/menu">Home </a>
                </li>
                <% if(permissions.vm){ %>
                    <li class="nav-item active">
                        <a class="nav-link" href="/menu/movies">Movies </a>
                    </li>
                <% } %>
                <% if(permissions.vs){ %>
                    <li class="nav-item active">
                        <a class="nav-link" href="/menu/subs">Subscriptions </a>
                    </li>
                <% } %>
                <% if(admin) { %>
                    <li class="nav-item active">
                        <a class="nav-link" href="/menu/manage">Users </a>
                    </li>
                <% } %>

            </ul>
            <span class="navbar-brand mb-0 text-muted">
                Welcome <%= name %>
            </span> <br>
            <a href="/menu/logout" class="btn btn-outline-primary my-2 my-sm-0">
                <i class="fas fa-sign-out-alt"></i>Logout
            </a>
        </div>
    </nav>
<% } %>

