<div class="row mt-5 justify-content-md-center">
    <div class="card-body">
        <h1 class="text-center mb-3">
            <i class="fas fa-user-plus"></i> Add New User
        </h1>
        <a href="/menu/manage/" class="btn btn-secondary mr-1"><i class="fas fa-users"></i> All Users</a>
        <a href="/menu/manage/addUser" class="btn btn-secondary disabled"><i class="fas fa-user-plus"></i> Add User</a>
        <!-- Hard coded width -->
        <div class="card mt-2" style="width: 30rem;">
            <div class="card-body">
                <% include ./partials/messages.ejs %>
                <form action="/menu/manage/addUserForm" method="POST">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="firstName"><strong>First Name</strong></label>
                                <input
                                        type="text"
                                        id="firstName"
                                        name="firstName"
                                        class="form-control"
                                        placeholder="Enter First Name"
                                />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="lastName"><strong>Last Name</strong></label>
                                <input
                                        type="text"
                                        id="lastName"
                                        name="lastName"
                                        class="form-control"
                                        placeholder="Enter Last Name"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="username"><strong>Username</strong></label>
                                <input
                                        type="text"
                                        id="username"
                                        name="username"
                                        class="form-control"
                                        placeholder="Enter User Name"
                                />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="timeOut"><strong>Session time out (minutes)</strong></label>
                                <input
                                        type="number"
                                        id="timeOut"
                                        name="timeOut"
                                        class="form-control"
                                        placeholder="Enter session time out"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <input class="form-group" type="radio" name="isAdmin" id="role1" value="false" checked>
                                <label class="form-group-label mb-lg-2" for="role1">
                                    User
                                </label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <input class="form-group" type="radio" name="isAdmin" id="role2" value="true">
                                <label class="form-group-label mb-lg-2" for="role2">
                                    Admin
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="text-dark"><strong>Subscriptions:</strong></p>
                            <div class="form-group">
                                <input class="form-group" type="checkbox" name="vs" value="true" id="vs">
                                <label for="vs">View</label>
                            </div>
                            <div class="form-group">
                                <input class="form-group" type="checkbox" name="cs" value="true" id="cs">
                                <label for="cs">Create</label>
                            </div>
                            <div class="form-group">
                                <input class="form-group" type="checkbox" name="ds" value="true" id="ds">
                                <label for="ds">Delete</label>
                            </div>
                            <div class="form-group">
                                <input class="form-group" type="checkbox" name="us" value="true" id="us">
                                <label for="us">Update</label>
                            </div>
                        </div>
                        <div class="col">
                            <p class="text-dark"><strong>Movies:</strong></p>
                            <div class="form-group">
                                <input class="form-group" type="checkbox" name="vm" value="true" id="vm">
                                <label for="vm">View</label>
                            </div>
                            <div class="form-group">
                                <input class="form-group" type="checkbox" name="cm" value="true" id="cm">
                                <label for="cm">Create</label>
                            </div>
                            <div class="form-group">
                                <input class="form-group" type="checkbox" name="dm" value="true" id="dm">
                                <label for="dm">Delete</label>
                            </div>
                            <div class="form-group">
                                <input class="form-group" type="checkbox" name="um" value="true" id="um">
                                <label for="um">Update</label>
                            </div>
                        </div>
                    </div>


                    <button type="submit" class="btn btn-primary btn-block">
                        Add
                    </button>
                </form>
            </div>
        </div>
        <a href="/menu" class="btn btn-secondary mt-2"><i class="fas fa-undo-alt"></i> Back to menu</a>
    </div>
</div>

