<div class="row mt-5 justify-content-md-center">
    <div class="card-body">
        <h1 class="text-center mb-3">
            <i class="fas fa-user-edit"></i> Edit User Details
        </h1>
        <a href="/menu/manage/" class="btn btn-secondary mr-1"><i class="fas fa-users"></i> All Users</a>
        <a href="/menu/manage/addUser" class="btn btn-secondary disabled"><i class="fas fa-user-plus"></i> Add User</a>
        <div class="card mt-2" style="width: 20rem;">
            <div class="card-body">
                <% include ./partials/messages.ejs %>
                <form action="/menu/manage/editUserForm" method="POST">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input
                                type="name"
                                id="name"
                                name="name"
                                class="form-control"
                                value="<%= user.name %>"
                        />
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input
                                type="email"
                                id="email"
                                name="email"
                                class="form-control"
                                value="<%= user.email %>"
                        />
                    </div>
                    <div class="form-group">
                        <input type="hidden" name="id" value="<%= user._id %>">
                    </div>
                    <div class="form-group">
                        <input class="form-group-input" type="radio" name="isAdmin" id="role1" value="true"
                        <% if(user.isAdmin) { %> checked
                                <% } %>
                        >
                        <label class="form-group mb-lg-2" for="role1">
                            Admin
                        </label>
                    </div>

                    <div class="form-group">
                        <input class="form-group-input" type="radio" name="isAdmin" id="role2" value="false"
                        <% if(!user.isAdmin) { %> checked
                                <% } %>
                        >
                        <label class="form-group-label mb-lg-2" for="role2">
                            User
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">
                        Save
                    </button>


                </form>
            </div>
        </div>
        <a href="/menu" class="btn btn-secondary mt-2"><i class="fas fa-undo-alt"></i> Back to menu</a>
    </div>
</div>

