
<div class="row mt-5 justify-content-md-center">
    <div class="card-body">

        <h1 class="text-center mb-3">
            Menu
        </h1>
        <div class="col-md-12 text-center">
        <a href="/menu/movies" class="btn mr-1">Movies</a>
        <a href="/menu/subscriptions" class="btn mr-1">Subscriptions</a>
        <a href="/menu/manage" class="btn mr-1">Users Management Console</a>
        </div>
    </div>
</div>