<div class="row mt-5 justify-content-md-center">
    <div class="card-body">

        <h1 class="text-center mb-3">
            <i class="fas fa-video"></i>  Movies
        </h1>
        <% include ./partials/messages.ejs %>

        <a href="/menu/movies" class="btn btn-secondary mr-1 disabled">
            <i class="fas fa-users"></i> All Movies
        </a>
        <a href="/menu/movies/addMovies" class="btn btn-secondary">
            <i class="fas fa-user-plus"></i> Add Movie
        </a>


    </div>
</div>