<div class="row mt-5 justify-content-md-center">
    <div class="card-body">

        <h1 class="text-center mb-3">
            <i class="fas fa-video"></i> Movies
        </h1>
        <% include ./partials/messages.ejs %>

        <form class="form-inline" action="/menu/movies/" method="POST">

            <a href="/menu/movies" class="btn btn-secondary mr-1 disabled">
                <i class="fas fa-list"></i> All Movies
            </a>

            <a href="/menu/addMovie" class="btn btn-secondary mr-1 <% if(!permissions.cm){ %>disabled<% } %>">
                <i class="fas fa-plus-circle"></i> Add Movie
            </a>


            <input class="form-control mr-sm-2 input-sm w-25 pull-right " type="search" name="title"
                   placeholder="Find movie"
                   aria-label="Search">
            <button class="btn btn-outline-primary pull-right" type="submit">Search</button>
        </form>

        <% movies.forEach(function(m) { %>
            <div class="card flex-row flex-wrap mt-3">
                <div class="card-header border-0 w-20">
                    <% if(m.image) { %>
                        <img style="max-width: 80%;" src="<%= m.image.medium %>">
                    <% } else { %>
                        <img style="max-width: 20%;" src="/img/img.png">
                    <% } %>
                </div>
                <div class="card-block px-2 mt-3">
                    <h4 class="card-title"><%= m.name %>, <%= m.premiered.substring(0, 4) %></h4>
                    <p class="card-text">Genres: <%= m.genres %></p>
                    <button type="button"
                            class="btn btn-danger mr-1 float-right <% if(!permissions.dm){ %>disabled<% } %>">
                        Delete
                    </button>
                    <button type="button"
                            class="btn btn-info mr-1 float-right <% if(!permissions.um){ %>disabled<% } %>">
                        Edit
                    </button>
                </div>

            </div>

        <% }) %>

    </div>
</div>